In [2]:
import pandas as pd
import numpy as np

In [16]:
student_perf = pd.read_csv("StudentsPerformance.csv")

In [15]:
student_perf.describe()

NameError: name 'student_perf' is not defined

In [6]:
student_perf.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
student_perf.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [8]:
student_perf.iloc[0:3, 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none

In [14]:
tit = pd.read_csv("titanic.csv")

tit.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [20]:
student_perf.loc[student_perf.gender == 'female']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [37]:
wr_mean = student_perf['writing score'].mean()

student_perf.loc[(student_perf['writing score'] > wr_mean) & (student_perf['gender'] == 'female')]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [74]:
reduced_= student_perf.loc[(student_perf['lunch'] == 'free/reduced')]
mean_ms =  reduced_['math score'].mean()
mean_rs =  reduced_['reading score'].mean()
mean_ws =  reduced_['writing score'].mean()

standard = student_perf.loc[(student_perf['lunch'] == 'standard')]

print(standard['math score'].mean() > mean_ms)
print(standard['reading score'].mean() > mean_rs)
print(standard['writing score'].mean() > mean_ws)

print(standard['math score'].var() > reduced_['math score'].var())
print(standard['reading score'].var() > reduced_['reading score'].var())
print(standard['writing score'].var() > reduced_['writing score'].var())

True
True
True
False
False
False

TypeError: '>' not supported between instances of 'str' and 'int'